.title {
    color: #0a2ff1;
    font-size: 72pt;
    font-family: 'Roboto Slab';
    text-align: center;
}

.button-form{
    color: white;
    font-size: 24pt;
    font-family: 'Roboto Slab';
    border: 0px;
    margin-left: 20px;
    margin-right: 20px;   

}

.button-reset{
    background-color: #f98500;
}
.button-send{
    background-color:#2c00cc;

}
.text {
    color: #04146c;
    font-size: 23pt;
    font-family: 'Roboto';
    
}
body {
    margin: 0px;
}

#img-logo {
    width: 5%;
    margin-left: 10px;
}


.title2{ 
    color:#2c00cc;
    font-size: 34pt;
    font-family: 'Roboto Slab';  

}

input{
    width: 500px;
    height: 50px;
}

textarea{
    width: 500px;
    height: 100px;
    margin-bottom: 10px;
    display: block;
}

.data{
    color:#04146c;
    font-size: 23pt;
    font-family: 'Roboto';
}
.contenedor-form{
    border: #b0b8e0 2px solid;
    margin: 5%;
    padding: 5%;
}
.img{
    width: 100%;
}