

.titulo {
    color:#0a2ff1;
    font-size: 44pt;
    font-family: 'Roboto';
    text-align:center;
    }

.contenedor-gral{
    text-align: center ;
    box-sizing: border-box;

}  

.btn-open-pos{
    color:white;
    font-size: 22.55pt;
    font-family: 'Roboto';
    background-color:#8a9af1 ;
    color: white;  
    border: 0px;
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    
}

.cuadros {
    color:#414166;
    font-size: 14pt;
    font-family: 'Roboto';
    text-align:left;
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    
}
.contenedor-btn{
    border-bottom:#04146c 1px solid;
}

.final-btn{
    color:#0a2ff1;
    font-size: 14pt;
    font-family: 'Roboto';
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: 0px;  

}

.img{
    width: 80%;
    margin: auto;
    background-size: contain;
}

